.aside {
    padding: 20px;
    width: 100%;
    max-width: 250px;
    position: fixed;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-right: 1px solid #88765394;
}

.list {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.book {
    width: 40px;
    cursor: pointer;
}

.aside-li {
    width: 250px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: 'Poppins-Regular';
    color: black;
}

.div-li:hover {
    background-color: #88765360;
    cursor: pointer;
}

.div-li:focus {
    background-color: #887653;
    cursor: pointer;
}

@media (min-width:400px) and (max-width:544px) {
    .aside {
        max-width: 150px;
    }

    .book {
        width: 30px;
    }

    .aside-li {
        height: 60px;
        font-size: 14px;

    }
}

@media (max-width:399px) {
    .aside {
        max-width: 100px;
    }

    .book {
        width: 24px;
    }

    .aside-li {
        height: 40px;
        font-size: 12px;

    }
}