.card {
    padding: 6px;
    width: 100%;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    gap: 18px;
    cursor: pointer;
    transition: 0.7s;
    border: 1px solid #b9b9b9ec;
}

.card:hover {
    transform: scale(1.05);
}

.header-card {
    width: 100%;
    height: 250px;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 250px;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
}

.title {
    font-size: 20px;
    max-height: 90px;
    font-family: 'Poppins-Regular';
}

.description {
    max-height: 72px;
}

.card-details {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.name,
.author {
    color: #4d4b4bea;
    font-size: 14px;
    font-family: 'Poppins-Regular';
}

.footer-card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
    display: flex;
    border-top: 1px solid #88765394;
    padding: 16px;
}

@media (max-width:399px) {
    .header-card {
        height: 150px;
    }
}